body {
 background-color: #CEE4F3;
}

@font-face {
 font-family: Palace;
 src: url('fonts/Palace.otf');
}

.carPic {
 max-height: 400px;
 margin: auto;
}

.carousel-caption {
 color: black;
}

#9grCar {
 display: none;
 visibility: hidden;
}

h1 {
 font-family: Palace, sans-serif;
}

html,
body {
 height: 100%;
}

footer {
 font-size: 30px;
}

.full-w {
 width: 100%;
}

.full-h {
 height: 100%;
}

.vert-center {
 display: table-cell;
 vertical-align: middle;
}

.section {
 padding: 70px;
}

.pillz {
 font-size: 150%;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
 color: #;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .nav>li>a:focus,
.navbar-default .nav>li>a:hover {
 color: #;
}


/**/


/**/


/*@media screen and (min-width: 0px) {*/


/* h1 {*/


/*  font-size: 50px;*/


/* }*/


/*}*/


/*@media screen and (min-width: 768px) {*/


/* h1 {*/


/*  font-size: 100px;*/


/* }*/


/*}*/


/*@media screen and (min-width: 992px) {*/


/* h1 {*/


/*  font-size: 100px;*/


/* }*/


/*}*/


/*@media screen and (min-width: 1200px) {*/


/* h1 {*/


/*  font-size: 120px;*/


/* }*/


/*}*/


/*.headd {*/


/* margin-top: 5%;*/


/*}*/


/*ul {*/


/* font-size: 32px;*/


/*}*/


/*h2 {*/


/* font-size: 40px;*/


/*}*/


/*h3 {*/


/* font-size: 35px;*/


/*}*/


/*a:link,*/


/*a:visited {*/


/* color: #E04C32;*/


/* background-color: transparent;*/


/* text-decoration: none*/


/*}*/


/*a:hover {*/


/* color: pink;*/


/* background-color: transparent;*/


/* text-decoration: underline*/


/*}*/


/*a:active {*/


/* color: yellow;*/


/* background-color: transparent;*/


/* text-decoration: underline*/


/*}*/